@using Manufacturing_Execution_Simulation.ViewModels
@model ViewModelBOM

@{
    ViewBag.Title = "BOMDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4 class="leftMargin">BOM Maintenance</h4>
<hr />
<h5 class="leftMargin">Add BOM Details</h5>

    <div>
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.mE_BOM.NAME)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.mE_BOM.NAME)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.mE_BOM.DESCRIPTION)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.mE_BOM.DESCRIPTION)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.mE_BOM.STATUS)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.mE_BOM.ME_BOM_STATUS.NAME)
            </dd>

        </dl>
    </div>

    <p class="leftMargin bottomMargin">
        @Html.ActionLink("Edit", "Edit", new { id = Model.mE_BOM.ID }) &nbsp;&nbsp;|&nbsp;&nbsp;
        @Html.ActionLink("Back to BOM List", "Index") &nbsp;&nbsp;|&nbsp;&nbsp;
        <a href='@Url.Action("Create", "BOMDetails", new { selectedID = Model.mE_BOM.ID})' class="leftMargin">
            <img src="~/Content/Images/Add.png" />
            New BOM row
        </a>
    </p>
    

    <p></p>
    <div id="BOMDetailSection">        
        @Html.Partial("BOMDetailsIndex", Model.mE_BOM_DETAILS)
    </div>

<script type="text/javascript">
    function getBOMDetailTemplate() {
        $.ajax({
            // Get Faculty PartialView
            url: "/BOM/CreateDetailTemplate",
            type: 'Get',
            //data: { courseName: selectedCourseName },
            success: function (data) {
                $("#BOMDetailsTable").append(data);
                if ($('#BOMDetailsTable tr').length != 2) {
                    $('#BOMDetailsTable tr:last').prev().remove();
                }
            },
            error: function () {
                alert("something seems wrong!");
            }
        });            
    }        
</script>
