@model Manufacturing_Execution_Simulation.Models.ME_WORKCENTER_RESOURCE

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4 class="leftMargin">Work Center - Resource Assignment</h4>
<hr />
<h5 class="leftMargin">Are you sure you want to delete this resource assignment?</h5>

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ME_RESOURCE.NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ME_RESOURCE.NAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ME_WORKCENTER.NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ME_WORKCENTER.NAME)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color bottomMargin leftMargin">
            <input type="submit" value="Delete" class="btn btn-default" /> &nbsp;&nbsp;|&nbsp;&nbsp;
            @Html.ActionLink("Back", "Details", "WorkCenter", new { id = Model.WORKCENTER_ID}, null)
        </div>
    }
</div>
