@model Manufacturing_Execution_Simulation.Models.ME_RESOURCE

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4 class="leftMargin">Resource Maintenance</h4>
<hr />
<h5 class="leftMargin">Resource Details</h5>

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DESCRIPTION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DESCRIPTION)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OPERATION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OPERATION)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ME_RESOURCE_STATUS.NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ME_RESOURCE_STATUS.NAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ME_RESOURCE_TYPE.TYPE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ME_RESOURCE_TYPE.TYPE)
        </dd>

    </dl>
</div>
<p class= "leftMargin bottomMargin">
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) &nbsp;&nbsp;|&nbsp;&nbsp;
    @Html.ActionLink("Back to List", "Index")
</p>
